Package: com.tapsharp.switcher.unicodefaces
Name: UnicodeFaces (Switcher)
Depends: mobilesubstrate, com.tapsharp.switcher (>= 1.0.2)
Version: 1.0.0
Architecture: iphoneos-arm
Description: Unicode Faces extension for Switcher (⌐■_■)
Maintainer: Neo Ighodaro
Author: Neo Ighodaro
Section: Tweaks
Icon: file:///Library/Application Support/Switcher/UnicodeFaces/icon@3x.png
