<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>title</key> <string>Switcher</string>
		<key>items</key>
		<array>
			<dict>
				<key>id</key>                 	<string>twitter</string>
				<key>cellClass</key>            <string>HBTwitterCell</string>
				<key>label</key>                <string>Neo</string>
				<key>user</key>                 <string>neoighodaro</string>
			</dict>
			<dict>
				<key>id</key>                 	<string>enabled</string>
				<key>cell</key>                 <string>PSSwitchCell</string>
				<key>label</key>                <string>Enabled</string>
				<key>defaults</key>             <string>com.tapsharp.switcher.unicodefaces</string>
				<key>key</key>                  <string>enabled</string>
				<key>default</key>              <true/>
				<key>PostNotification</key>     <string>com.tapsharp.switcher.unicodefaces/preferenceschanged</string>
			</dict>
			<dict>
				<key>id</key>                 	<string>on_keyboard</string>
				<key>cell</key>                 <string>PSSwitchCell</string>
				<key>label</key>                <string>Only Show When Keyboard Active</string>
				<key>defaults</key>             <string>com.tapsharp.switcher.unicodefaces</string>
				<key>key</key>                  <string>on_keyboard</string>
				<key>default</key>              <true/>
				<key>PostNotification</key>     <string>com.tapsharp.switcher.unicodefaces/preferenceschanged</string>
			</dict>
		</array>
	</dict>
</plist>
